.swal-button--confirm{
	background-color:  #39da8a !important;
}

.dataTable > thead > tr > th[class*="sort"]:before,
.dataTable > thead > tr > th[class*="sort"]:after {
    content: "" !important;
}

.label-info {
    background-color: #39DA8A !important;
	padding: 3px;
}

.sms-time{
	width:250px;
	float: left;
}

.w100{
	width: 100% !important;
}

.pull-right {
    float: right !important;
}

.bootstrap-tagsinput {
	width: 100% !important;
	border: 1px solid #DFE3E7;
    border-radius: .267rem;
}

.tag.label-info{
	border-radius: 4px;
}

.invalid-feedback {
	display: block !important;
}